@import '../mixin';

.order {

    .nav {
        border: 1px solid #F0F1F3;
        background-color: #FFFFFF;
        padding: 5px;
        border-radius: 10px;

        .nav-item {
            padding: 0;

            .nav-link {
                padding: 8px 16px;

                @include font(18.67px, 500, 100%, 'Lato');
                color: #777980;


                &.active {
                    background-color: #FFEDED;
                    border-radius: 8px;
                    padding: 8px 16px;
                    color: #E31E24;
                    @include font(18.67px, 600, 100%, 'Lato');
                    text-decoration: none;
                }

                &:hover {
                    text-decoration: none;
                }
            }

        }

    }

    .order-categories {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .last-serach {
            display: flex;
            align-items: center;

            .search-box {
                position: relative;
                display: inline-block;

                input[type="search"] {
                    padding: 10px 48px !important;
                    border-radius: 10px;
                    width: 266px;
                    border: 1px solid #F0F1F3;
                    @include font(18.67px, 400, 100%, 'Lato');
                    margin-right: 21px;
                }

                .search-icon {
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    transform: translateY(-50%);
                    color: #aaa;
                    font-size: 16px;
                    pointer-events: none; // allows clicking through the icon
                }
            }


            button {
                background-color: #FFFFFF;
                padding: 13px 18px;
                color: #777980;
                border-radius: 10px;
                border: 1px solid #F0F1F3;
                @include font(18.67px, 400, 100%, 'Lato');

                svg {
                    margin-right: 10px;
                }
            }
        }
    }

    .tab-content {
        padding-top: 32px;
    }
}

